In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("train.tsv",sep='\t',header=0)

In [3]:
df1.head()

,Id,EssaySet,Score1,Score2,EssayText
0,1,1,1,1,Some additional information that we would need...
1,2,1,1,1,"After reading the expirement, I realized that ..."
2,3,1,1,1,"What you need is more trials, a control set up..."
3,4,1,0,0,The student should list what rock is better an...
4,5,1,2,2,For the students to be able to make a replicat...

In [4]:
qs=["What are the additional pieces of information that would be needed to accurately replicate the experiment of acid rain?","soon","Explain how pandas in china are similar to koalas in australia and how they both are different from pythons.support your information with information from the article"]

In [5]:
qs.append("Explain the significance of the word invasive to the rest of the article.support your information with information from the article")

In [6]:
qs.append("starting with mRNA leaving the nucleus,list & describe four major steps involved in protein synthesis.")

In [7]:
qs.append("List & describe three processes used by cells to control the movement of substances across the cell membrane.")

In [8]:
qs.append("This item requires a two-part response. The student must identify one character trait of Rose, as well as include story details that adequately support the answer. The response should be related to the conversations with Anna or Aunt Kolab. In order to receive ANY credit, the student must provide a creditable response to the first part of the question. An additional point is awarded if the student provides a creditable response to the second part of the question.")

In [9]:
qs.append("During the story, the reader gets background information about Mr.Leonard.Explain the effect that background information has on Paul.Support your response with details from the story.")

In [10]:
qs.append("How does the author authorise the article? Support your response with details from the article")

In [11]:
qs.append("Brandi and Jerry were designing a doghouse.Use the results from the experiment to describe the best paint color for the doghouse.")

In [12]:
qs

['What are the additional pieces of information that would be needed to accurately replicate the experiment of acid rain?',
 'soon',
 'Explain how pandas in china are similar to koalas in australia and how they both are different from pythons.support your information with information from the article',
 'Explain the significance of the word invasive to the rest of the article.support your information with information from the article',
 'starting with mRNA leaving the nucleus,list & describe four major steps involved in protein synthesis.',
 'List & describe three processes used by cells to control the movement of substances across the cell membrane.',
 'This item requires a two-part response. The student must identify one character trait of Rose, as well as include story details that adequately support the answer. The response should be related to the conversations with Anna or Aunt Kolab. In order to receive ANY credit, the student must provide a creditable response to the first part of the question. An additional point is awarded if the student provides a creditable response to the second part of the question.',
 'During the story, the reader gets background information about Mr.Leonard.Explain the effect that background information has on Paul.Support your response with details from the story.',
 'How does the author authorise the article? Support your response with details from the article',
 'Brandi and Jerry were designing a doghouse.Use the results from the experiment to describe the best paint color for the doghouse.']

In [13]:
df1["questions"]="scam"

In [14]:
df1.head()

,Id,EssaySet,Score1,Score2,EssayText,questions
0,1,1,1,1,Some additional information that we would need...,scam
1,2,1,1,1,"After reading the expirement, I realized that ...",scam
2,3,1,1,1,"What you need is more trials, a control set up...",scam
3,4,1,0,0,The student should list what rock is better an...,scam
4,5,1,2,2,For the students to be able to make a replicat...,scam

In [15]:
df1.loc[df1.EssaySet == 10, 'questions'] = qs[9]
df1.loc[df1.EssaySet == 9, 'questions'] = qs[8]
df1.loc[df1.EssaySet == 8, 'questions'] = qs[7]
df1.loc[df1.EssaySet == 7, 'questions'] = qs[6]
df1.loc[df1.EssaySet == 6, 'questions'] = qs[5]
df1.loc[df1.EssaySet == 5, 'questions'] = qs[4]
df1.loc[df1.EssaySet == 4, 'questions'] = qs[3]
df1.loc[df1.EssaySet == 3, 'questions'] = qs[2]
df1.loc[df1.EssaySet == 2, 'questions'] = qs[1]
df1.loc[df1.EssaySet == 1, 'questions'] = qs[0]

In [16]:
df1.head()

,Id,EssaySet,Score1,Score2,EssayText,questions
0,1,1,1,1,Some additional information that we would need...,What are the additional pieces of information ...
1,2,1,1,1,"After reading the expirement, I realized that ...",What are the additional pieces of information ...
2,3,1,1,1,"What you need is more trials, a control set up...",What are the additional pieces of information ...
3,4,1,0,0,The student should list what rock is better an...,What are the additional pieces of information ...
4,5,1,2,2,For the students to be able to make a replicat...,What are the additional pieces of information ...

In [17]:
df1.tail()

,Id,EssaySet,Score1,Score2,EssayText,questions
17202,27584,10,1,1,white :: white becuase if you live in a hot pl...,Brandi and Jerry were designing a doghouse.Use...
17203,27585,10,1,1,light gray :: This color will affect the dogho...,Brandi and Jerry were designing a doghouse.Use...
17204,27586,10,1,1,light gray :: i think light gray would work th...,Brandi and Jerry were designing a doghouse.Use...
17205,27587,10,1,0,dark gray :: if they painted the doghouse dar...,Brandi and Jerry were designing a doghouse.Use...
17206,27588,10,0,1,white :: the black would affect the doghouse b...,Brandi and Jerry were designing a doghouse.Use...

In [18]:
full_marks=[3]

In [19]:
full_marks.append(3)

In [20]:
full_marks.append(3)

In [21]:
full_marks.append(2)

In [22]:
full_marks.append(2)

In [23]:
full_marks.append(3)

In [24]:
full_marks

[3, 3, 3, 2, 2, 3]

In [25]:
full_marks.append(3)

In [26]:
full_marks.append(2)

In [27]:
full_marks.append(2)

In [28]:
full_marks

[3, 3, 3, 2, 2, 3, 3, 2, 2]

In [29]:
full_marks.append(2)

In [30]:
full_marks.append(2)

In [31]:
full_marks

[3, 3, 3, 2, 2, 3, 3, 2, 2, 2, 2]

In [32]:
df1.loc[df1.EssaySet == 10, 'full_marks'] = full_marks[9]
df1.loc[df1.EssaySet == 9, 'full_marks'] = full_marks[8]
df1.loc[df1.EssaySet == 8, 'full_marks'] = full_marks[7]
df1.loc[df1.EssaySet == 7, 'full_marks'] = full_marks[6]
df1.loc[df1.EssaySet == 6, 'full_marks'] = full_marks[5]
df1.loc[df1.EssaySet == 5, 'full_marks'] = full_marks[4]
df1.loc[df1.EssaySet == 4, 'full_marks'] = full_marks[3]
df1.loc[df1.EssaySet == 3, 'full_marks'] = full_marks[2]
df1.loc[df1.EssaySet == 2, 'full_marks'] = full_marks[1]
df1.loc[df1.EssaySet == 1, 'full_marks'] = full_marks[0]

In [33]:
df1.head()

,Id,EssaySet,Score1,Score2,EssayText,questions,full_marks
0,1,1,1,1,Some additional information that we would need...,What are the additional pieces of information ...,3.0
1,2,1,1,1,"After reading the expirement, I realized that ...",What are the additional pieces of information ...,3.0
2,3,1,1,1,"What you need is more trials, a control set up...",What are the additional pieces of information ...,3.0
3,4,1,0,0,The student should list what rock is better an...,What are the additional pieces of information ...,3.0
4,5,1,2,2,For the students to be able to make a replicat...,What are the additional pieces of information ...,3.0

In [34]:
df1.tail()

,Id,EssaySet,Score1,Score2,EssayText,questions,full_marks
17202,27584,10,1,1,white :: white becuase if you live in a hot pl...,Brandi and Jerry were designing a doghouse.Use...,2.0
17203,27585,10,1,1,light gray :: This color will affect the dogho...,Brandi and Jerry were designing a doghouse.Use...,2.0
17204,27586,10,1,1,light gray :: i think light gray would work th...,Brandi and Jerry were designing a doghouse.Use...,2.0
17205,27587,10,1,0,dark gray :: if they painted the doghouse dar...,Brandi and Jerry were designing a doghouse.Use...,2.0
17206,27588,10,0,1,white :: the black would affect the doghouse b...,Brandi and Jerry were designing a doghouse.Use...,2.0

In [35]:
import pandas as pd
import openpyxl
import xlsxwriter

In [ ]:
DataFrame.to_csv()

In [36]:
new_data = df1.to_csv('final_dataset.csv', index = True)